services:
  backend:
    build: .
    container_name: turnero-backend
    ports:
      - "3001:3001"
    env_file:
      - .env
    networks:
      - turnero-network
      
    restart: always

networks:
  turnero-network:
    external: true
